<footer class="footer text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <h5>Síguenos en</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com" target="_blank" class="text-light"><i class="bi bi-twitter"></i> X</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com" target="_blank" class="text-light"><i class="bi bi-facebook"></i> Facebook</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" target="_blank" class="text-light"><i class="bi bi-instagram"></i> Instagram</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://youtube.com" target="_blank" class="text-light"><i class="bi bi-youtube"></i> YouTube</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me" target="_blank" class="text-light"><i class="bi bi-telegram"></i> Telegram</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://wa.me" target="_blank" class="text-light"><i class="bi bi-whatsapp"></i> WhatsApp</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 mb-3">
                <h5>Enlaces de interés</h5>
                <ul class="list-unstyled">
                    <li><a href="/aviso-legal" class="text-light">Aviso Legal</a></li>
                    <li><a href="/privacidad" class="text-light">Privacidad</a></li>
                    <li><a href="/cookies" class="text-light">Política de Cookies</a></li>
                    <li><a href="/accesibilidad" class="text-light">Accesibilidad</a></li>
                    <li><a href="/sitemap" class="text-light">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>